* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: underline;
}

body { 
    font-family: var(--tipo-principal);
    font-size: 100%;
    line-height: 1.4em;
    min-height: 100vh;
    background-color: var(--blanco);
    color:var(--negro);
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
